<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品一覧</title>
</head>
<body>

<!-- 商品1 -->
<div class="product">
	<img src="images/salmon.jpg" alt="商品Aの画像">
    <h2>商品名: sa-mon</h2>
    <p>価格: 1000円</p>
    <p>出品者: BES 出品者名</p>
    
</div>

<!-- 商品2 -->
<div class="product">
	<img src="images/sushi_otoro.jpg" alt="商品Aの画像">
    <h2>商品名: maguro</h2>
    <p>価格: 2000円</p>
    <p>出品者: BES 出品者名</p>
</div>


</body>
</html>
